<div class="main__admin_action">
<div class="container">
    <div class="main__add_video">
        <div class="video__table_in_mobile" style="height:300px">
                <h3 class="text-center">{{title}}</h3>
            <form action="/admin/{{idCourse}}/edit/{{idVideo}}" method="POST">
                <div class="form-group">
                    <label for="nameLesson">Tên bài học</label>
                    <input class="form-control" id="nameLesson" name="nameLesson" type="text" value="{{nameLesson}}"></input>
                </div>
                <div class="form-group">
                    <i class="bi bi-youtube"></i>
                    <label for="urlVideo">ID video</label><br/>
                    <input class="form-control" id="idVideo" name="idVideo" type="text" value="{{idVideo}}"></input>
                </div>
                <div class="form-group">
                        <label for="indexVideo">Phần</label>
                        <input class="form-control" id="indexVideo" name="indexVideo" type="text"
                            placeholder="Nhập số thứ tự phần" value="{{indexLesson}}">
                    </div>
                <div class="form-group">
                    <label for="contentVideo">Nội dung bài học</label>
                    <textarea class="form-control" id="content" name="content">{{content}}</textarea>
                    <script>
                        CKEDITOR.replace('content');
                    </script>
                </div>
                <div class="form-group float-right">
                    <button class="btn btn-primary">Cập nhật</button>
                    
                    <a class="btn btn-danger" href="/admin/{{idCourse}}/addvideo">Hủy bỏ</a>
                
                </div>
            </form>
        </div>        
    </div>
</div>
</div>