<script>
    $(document).ready(function () {
        $("#addindexvideo").hide();
        $("#editindexvideo").hide();
        $("#deleteindexvideo").hide();
        $(".indexLesson").ready(() => {
            $("[id*='indexLesson']").hide();
        });
        $(".indexLesson").click((e) => {
            var indexLesson = e.target.className.split(" ");
            indexLesson = "#" + indexLesson[indexLesson.length - 1];
            var elmStyle = $(indexLesson).css("display");
            if (elmStyle == 'none') {
                $(indexLesson).show();
            }
            else {
                $(indexLesson).hide();
            }
        });
    });
</script>
<div class="view__seemore_sourse">

    <div class="container">
        <div class="row bg-light" style="padding: 40px;">
            <div class="__course bg-light mr-2">
                <div class="img__course">
                    <img src="/{{course.img}}" alt="" />
                </div>
                <div class="info__course">
                    <div class="name__course">
                        <p>{{course.nameCourse}}</p>
                    </div>
                    <div class="content__course">
                        {{course.description}}
                    </div>
                    <div class="go_to__course">
                        {{!-- <span class="num__member"><i class="fas fa-users"></i>
                            {{course.numberStudents}}</span> --}}
                        <div class="learn {{cssLearned}}">
                            <a class="btnJoin" href="/courses/{{course.slug}}">
                            {{learned}}</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="" style="width: 700px">
                <h6 class="text-center" style="margin-top: -20px">
                    Khóa học gồm: {{indexLesson.length}} phần • {{course.idVideo.length}} bài học • Thời lượng: {{formatTime timeCourse}} giờ
                    </h6>
               
                    {{#each indexLesson}}
                    <ul class="list-group mb-2 ml-3">

                        <div class="row">
                            <li class="list-group-item list-group-item-success col-12 indexLesson indexLesson-{{this.level}}"
                                style="cursor: pointer;">
                                <b>Phần {{this.level}}: {{this.name}}
                                  </b>
                                <span class="float-right">{{this.videos.length}} bài | {{{formatTime this.timeIndexLesson}}}</span>
                            </li>
                        </div>
                        <div id="indexLesson-{{this.level}}">
                            <div class="row">
                                {{{handleItemOfVideosInViewUser this.videos}}}
                            </div>
                        </div>

                    </ul>
                    {{/each}}


            </div>
        </div>
    </div>
</div>